* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.hidden {
    opacity: 0;
}

body {
    background-color: rgb(16, 19, 28);
}

.container {
    width: 1100px;
    margin: 0 auto;
}
.container section{
    background-color: rgb(31, 35, 49);
    margin: 20px 0;
    border-radius: 8px;
}

/* player search */

.search_menu{
    width: 1100px; height: 150px;
    display: flex;
    align-items: center;
}

.search_menu > .search_bar {
    width: 600px; height: 56px;
    margin: 0 auto;
    border: none; border-radius: 8px;
    display: flex;
    cursor: pointer;
    background-color: #fff;
}

.search_bar > .server_location_box {
    width: 120px; height: 56px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.server_location_box > .server_location_select {
    width: 120px; height: 32px;
    position: relative;
    border-right: 1px solid rgb(174, 173, 173);
}

.server_location_select > .select_box {
    width: 120px; height: 32px;
    padding: 6px 8px 6px 16px;
    border: none;
    display: flex;
    justify-content: space-between;
}

.select_box > #server_location {
    font-size: 17px;
    width: 74px; height: 20px;
    color: rgb(125, 120, 120);
}

.select_box > #expand {
    display: flex;
    align-items: center;
    width: 20px; height: 20px;
    color: rgb(125, 120, 120);
}


.server_location_select > .server_location_btnbox {
    top: 6px;
    position: relative;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 120px;
}

.server_location_btnbox > p {
    width: 120px; height: 28px;
    color: rgb(125, 120, 120);
    padding: 4px 8px;
}

.search_bar > .input_label > #game_name {
    width: 435px; height: 56px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.search_bar  #search_btn {
    width: 44px; height: 56px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

/* player information*/

.player_menu {
    width: 1100px; height: 220px;
    display: flex;
    justify-content: space-between;
}

.player_menu > .player_info {
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.player_info > .player_icon_box {
    position: relative;
}

.player_icon_box > #player_icon {
    display: inline-block;
    width: 120px; height: 120px;
    border-radius: 6px;
    margin: 0 20px 0 20px;
}

.player_icon_box > #player_level {
    bottom: 18px; left: 60px;
    width: 36px; height: 20px;
    text-align: center;
    position: relative;
    background-color: rgb(16, 19, 28);
    font-size: 12px;
    padding: 4px;
    color: #fff;
    border-radius: 3px;
}

.player_info > .player_name_and_level {
    height: 76px;
    display: flex;
    flex-direction: column;
}

.player_box > #player_name{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

#player_name > #player_tag {
    font-size: 24px;
    color: rgb(125, 120, 120);
}



.player_box > #player_location{
    font-size: 14px;
    color: #fff;

}

.player_box > #reload_btn {
    border: 1px solid black;
}

.player_menu > .player_rank {
    flex: 2;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.player_rank img {
    width: 50px; height: 50px;
}

.player_rank > .solo_rank_box {
    
}

/* player_summary */

.summary_menu {
    height: 200px;
    display: flex;
}

.summary_menu > .history {
    flex: 1;
    border: 1px solid black;
}

.summary_menu > .champion {
    flex: 1;
    border: 1px solid black;
}

.summary_menu > .position {
    flex: 1;
    border: 1px solid black;
}

/* 20game_menu */