* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.hidden {
    opacity: 0;
}

body {
    background-color: rgb(16, 19, 28);
}

/* player search */

.search_menu{
    width: 1100px; height: 270px;
    display: flex;
    margin: 10px auto;
    background-color: rgb(31, 35, 49);
    border-radius: 8px;
}

.search_menu > .left {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.search_menu > .left > .search_bar {
    width: 600px; height: 56px;
    border: none; border-radius: 8px;
    display: flex;
    cursor: pointer;
    background-color: #fff;
    margin: 20px 0 20px 20px;
}

.search_bar > .server_location_box {
    width: 120px; height: 56px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.server_location_box > .server_location_select {
    width: 120px; height: 32px;
    position: relative;
    border-right: 1px solid rgb(174, 173, 173);
}

.server_location_select > .select_box {
    width: 120px; height: 32px;
    padding: 6px 8px 6px 16px;
    border: none;
    display: flex;
    justify-content: space-between;
}

.select_box > #server_location {
    font-size: 17px;
    width: 74px; height: 20px;
    color: rgb(125, 120, 120);
}

.select_box > #expand {
    display: flex;
    align-items: center;
    width: 20px; height: 20px;
    color: rgb(125, 120, 120);
}

.server_location_select > .server_location_btnbox {
    top: 6px;
    position: relative;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 120px;
}

.server_location_btnbox > p {
    width: 120px; height: 28px;
    color: rgb(125, 120, 120);
    padding: 4px 8px;
}

.search_bar > .input_label > #game_name {
    width: 435px; height: 56px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.search_bar  #search_btn {
    width: 44px; height: 56px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    color: rgb(33, 58, 150);
    font-weight: bold;
}

/* player info*/

.left > .player_info {
    width: 550px; height: 160px;
    display: flex;
    align-items: center;
}

.left > .player_icon_box {
    position: relative;
}

.player_icon_box > #player_icon {
    width: 140px; height: 140px;
    border-radius: 6px;
    margin:  20px 20px 0 20px;
}

.player_icon_box > #player_level {
    bottom: 18px; left: 70px;
    width: 36px; height: 20px;
    text-align: center;
    position: relative;
    background-color: rgb(16, 19, 28);
    font-size: 12px;
    padding: 4px;
    color: #fff;
    border-radius: 3px;
}

.player_info > .player_name_and_level {
    height: 76px;
    display: flex;
    flex-direction: column;
}

.player_box > .mini_player_rank{
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.mini_player_rank > #solo_rank_img {
    width: 20px; height: 20px;
    margin: 0 5px 0 0;
}

.mini_player_rank > span {
    margin: 0 5px;
}

.player_box > #player_name{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

#player_name > #player_tag {
    font-size: 24px;
    color: rgb(125, 120, 120);
}

.player_box > #player_location{
    font-size: 16px;
    color: #fff;
}

.player_box > #reload_btn {
    margin-top: 10px;
    width: 130px; height: 45px;
    border: none; border-radius: 8px;
    background-color: rgb(33, 58, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#reload_btn > p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/* player rank */

.search_menu > .right {
    width: 450px; height: 230px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
}

.player_rank img {
    width: 50px; height: 50px;
}

/* ----------------------------------------- */

.main {
    width: 1100px; height: 1000px;
    margin: 0 auto;
    display: flex;
}

/* main left*/

.main > .left {
    width: 380px;
    margin: 10px 20px 0 0;
    border: 1px solid black;
}

/* main right*/

.main > .right {
    width: 700px;
    margin: 10px 0 0 0;
    border: 1px solid black;
}

.right > .winrate {
    width: 100%; height: 200px;
    background-color: rgb(31, 35, 49);
    border-radius: 8px;
    margin: 0 0 20px 0 ;
}

.winrate > .top {

}

/* games */

.right > .games {
    width: 100%;
}

.games > .game {
    display: flex;
}

.game > .game_info {
    margin: 0 30px 0 0;
}

.games #game_mode {
    font-size: 12px;
    padding: 4px 0;
}

.games #game_date {
    font-size: 12px;
    color: rgb(229, 231, 235);
}

.games #game_result {
    font-size: 12px;
    color: rgb(130, 135, 153);
}

.games #game_time {
    font-size: 12px;
    color: rgb(130, 135, 153);
}

.games .dlvider {
    width: 48px; height: 1px;
    margin: 8px 0;
    background-color: rgb(130, 135, 153);
}

/* champion_info */

.champion_info > .top {
    display: flex;
    margin: 2px 0 0 0 ;
}

.top > .champion_icon_level_box {
    margin-right: 8px;
    overflow: hidden;
}

.champion_icon_level_box > .champion_icon_box {
    width:56px;
    height:56px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
}

.champion_icon_box > #champion_icon {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.champion_icon_level_box > #champion_level {
    width: 20px; height: 16px;
    position: relative;
    background-color: #000000cf;
    color: #fff;
    bottom: 16px; left: 36px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 10px;
    text-align: center;
}

.top > .spell_info {
    display: flex;
    flex-direction: column;
    margin-left: -5px;
}

.spell_info > .spell {
    width: 27px; height: 27px;
    margin: 0 0 2px 0;
    border-radius: 8px;
}

.top > .rune_info {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}

.rune_info > .rune_background {
    width: 27px; height: 27px;
    margin: 0 0 2px 0;
    border-radius: 27px;
    background-color: rgb(35, 39, 45);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rune_background > .rune {
    width: 24px; height: 24px;
    border-radius: 8px;
}

.top > .kda_info {
    display: flex;
    flex-direction: column;
    margin: 8px; 
}

.kda_info > .kda {
    font-size: 15px;
    font-weight: 700;
    color: rgb(229, 231, 235);
}

.kda_info > .kda_score {
    font-size: 14px;
    margin: 6px auto;
    color: rgb(130, 135, 153);
}

/* champion_info_bottom */

.champion_info > .bottom {
    display: flex;
}

.bottom > .items_info{
    display: flex;
    margin: -8px 0 0 0;
}

.items_info > .item {
    width: 26px; height: 26px;
    background-color: #4f5770;
    margin: 0 4px 0 0;
    border-radius: 8px;
}

.item > img {
    width: 26px; height: 26px;
    border-radius: 8px;
}

/* game_info */
/* 
.game > .game_info {
    border-left: 1px solid black;
    margin: 0 0 0 8px;
} */




/* win & loss*/

.games > .win_game {
    width: 100%; height: 120px;
    border-left: 5px solid rgb(33, 58, 150);
    background-color: rgba(33, 58, 150, 0.15);
    margin-top: 10px;
    padding: 12px 16px;
}

.win_game #game_mode {
    color: rgb(11, 137, 207);
    padding: 4px 0;
}

.games > .loss_game {
    width: 100%; height: 120px;
    border-left: 5px solid rgb(227, 70, 70);
    background-color: rgba(227, 70, 70, 0.15);
    margin-top: 10px;
    padding: 12px 16px;
}

.loss_game #game_mode {
    color: rgb(227, 70, 70);
    padding: 4px 0;
}
